html, body{
    margin: 0;
    padding: 0;
    
    max-width: 100%;
    overflow-x: hidden;
}


/* HEADER */
nav{
    z-index:50;
}
.navbar-anim{
    animation-name: appear;
    animation-duration: 300ms;
    animation-direction: normal;
}

/* SECTION 1 */
.carousel-control-prev-icon{
    background-color: white;
    background-image: none;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    width:50px;
    height:auto;
}
.carousel-control-next-icon{
    background-color: white;
    background-image: none;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    width:50px;
    height:auto;
}
.cover-image-box{
    width:100%;
    height:100vh;
    position: relative;


    background-image: url("../img/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-2{
    background-image: url("../img/cover2.jpg");
}
.cover-3{
    background-image: url("../img/cover3.jpg");
}
.cover-image-box div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.cover-image-box h1{
    background: white;
    font-family: VarelaRound-Regular;
    color:#343a40;
    padding-top:3px;
    padding-bottom:6px !important;
    padding-left: 10px;
    padding-right: 10px;
    width:auto;  

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.cover-image-box p{
    background: white;
    font-family: VarelaRound-Regular;
    color:#343a40;
    padding-top:1px;
    padding-bottom:1px !important;
    padding-left: 5px;
    padding-right: 5px;
    width:auto;  

    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%);
    text-align: center;
    opacity: 0.7;
}

/* SECTION 2 */
section .col-md-4{
    color:white;
    padding:20px !important;
    margin-top:20px;
    
}
section .col-md-4 div p{
    text-align: justify;
    text-justify: inter-word;
    font-family: Maven-pro;
}
.col-md-4 div{
    border-radius: 8px;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* SECTION 3 */
.about-us{
    height:500px;;
}
.about-us div{
    height:300px;
    width:400px;
}
.about-us-text{
    min-height: 300px !important;
    max-height: 300px !important;
    overflow: hidden;
}
.about-us-text p{
    min-height: 192px !important;
    max-height: 192px !important;
    overflow: hidden;
}

.about-us div img{
    width:inherit;
    height:300px;
}
.vertical-line{
    background-color: rgb(204, 204, 204);
    width:1px !important;
    margin-left:10px;
    margin-right:10px;
}

/* SECTION 4 */

.mapouter{
    position:relative;
    text-align:right;
    height:440px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:440px;
    width:100%;
}
.contact-information i{
    margin-right:10px;
    color:rgb(46, 46, 46);
}
.contact-box{
    margin-right:0 !important;
}


/* FOOTER */
footer .container-fluid{
    background-color: rgb(46, 46, 46);
    height:300px;
    margin-top: 20px;
}
footer ul{
    list-style: none;
    margin-top:50%;
    padding-left:0 !important;
}
footer ul li{
    margin-bottom:20px;
}
footer ul li a{
    text-decoration: none;
    color:rgb(163, 163, 163);
}
footer ul li a:hover{
    text-decoration: none;
    color:white;
}
footer .float-right{
    text-align:right;
    color:rgb(163, 163, 163);
}
.footer-contact{
    margin-top: 33px !important;
}
footer hr{
    background: rgb(163, 163, 163);
}
.icon-box{
    height:40px;
}
.social-link{
    text-decoration: none;
}
.social-link i{
    color:rgb(163, 163, 163);
    font-size: 35px;
    margin-left:30px;
    transition: 100ms;
}
.social-link i:hover{
    color:white;
}
.social-link::after{
    content:"";
    display: inline-block;
    background-color: rgb(163, 163, 163);
    width:2px;
    height: 28px;
    margin-left:25px;
}
.social-link:last-child::after{
    display: none;
}



/* ANIMATIONS */
@keyframes appear{
    from {
        top:-100px;
      }
    
      to {
        top:0px;
      }
}